* {
    margin: 0;
    font-family: sans-serif;
}
header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.logo {
    color: #192252;
    font-size: 32px;
    font-weight: 600;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.jhjjhgjhh {
    width: 500px;
    height: 300px;
}
li a {
    text-decoration: none;
}
.gkjgjhj {
    display: flex;
    padding: 100px;
}
.iufguiigu {
    background-color: green;
    width: 100px;
    height: 30px;
    color: white;
}
.ghghghhhgghgg {
    display: flex;
}
.bbhjhhjhj {
    width: 100%;
    height: 500px;
}

@media (max-width:640px) {
     ul,li,a {
        display: none;
     }
    .gkjgjhj {
        flex-direction: column;
    }
   .ghghghhhgghgg {
    flex-direction: column;
   }
   .gkjgjjhhhj {
    flex-direction: column;

   }
   .bbhjhhjhj {
    width: 100%;
    height: 200px;
}
}