* {
  margin: 0;
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: auto;
}

header {
  border-bottom: 1px solid #ddd;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
}

.logo h2 {
  font-size: 18px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
}
.logo p {
  font-size: 12px;
  color: gray;
}
.head {
  display: flex;
}
ul {
  display: flex;
  gap: 40px;
}
header {
  display: flex;
  justify-content: space-between;
}

.phone {
  color: #63b32e;
  font-weight: bold;
}

.hero {
  padding: 70px 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hero-image img {
  width: 100%;
  display: block;
}
.imj {
  display: flex;
  gap: 30px;
  align-items: center;
}
.rihead {
  display: flex;
  gap: 20px;
}
.img1 {
  width: 40px;
  height: 30px;
}
.phone {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ju {
  display: none;
  width: 20px;
  height: 20px;
}
.ht {
  font-size: 32px;
  color: #63b32e;
  font-size: 52px;
  font-weight: 300;
}
.text {
  width: 60%;
  margin: auto;
  padding: 50px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.233);
}
.sect1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.p8 {
  font-size: 25px;
}
.sect2 {
  background: #eef8eb;
  padding: 50px 0;
  text-align: center;
  margin-top: 50px;
}

.sect2 h2 {
  color: #4da22d;
  font-size: 32px;
  margin-bottom: 40px;
}

.cards {
  width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
}

.card {
  width: 24%;
  text-align: center;
}

.card h3 {
  color: #4da22d;
  font-size: 42px;
  margin-bottom: 10px;
}
.cards1 {
  display: flex;
  justify-content: space-evenly;
}
.card p {
  color: #666;
  font-size: 18px;
}

.sect3 {
  width: 100%;
  padding: 60px 0;
  text-align: center;
}

.sect3 h2 {
  font-size: 34px;
  color: #444;
  margin-bottom: 40px;
}

.cards {
  width: 1100px;
  margin: auto;
  display: flex;
  gap: 30px;
}

.card1 {
  width: 30%;
  background: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px #ddd;
}

.green {
  background: #c8f1c0;
  padding: 20px;
}

.card h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  color: #666;
}
.items {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 30px;
}
.conteiner {
  text-align: center;
}
.qwer {
  background-color: #edf7ed;
  width: 600px;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.zxcv {
  color: #333333;
  margin-bottom: 30px;
  font-size: 24px;
}

.asdf {
  text-align: left;
  margin-bottom: 30px;
}

.vbnm {
  display: flex;
  margin-bottom: 25px;
}

.tyui {
  width: 150px;
  font-size: 13px;
  color: #444444;
}

.tyui b {
  display: block;
  margin-bottom: 5px;
}

.tyui span {
  color: #777777;
}

.ghjk {
  margin: 0;
  font-size: 13px;
  color: #444444;
}

.opui {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
.ula {
  list-style: none;
}
footer {
  display: flex;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
  text-align: center;
  background-color: #424242;
  color: white;
}
@media (max-width: 640px) {
  .qwer {
    flex-wrap: wrap;
  }
  footer{
    display: grid;
  }
  .right{
    width: 100%;
  }
  .left{ 
    width: 100%;
  }
  .ju {
    display: block;
  }
  .items {
    flex-wrap: wrap;
  }
  .logo {
    display: none;
  }
  .head {
    align-items: center;
    gap: 20px;
  }
  .text {
    width: 90%;
  }
  .imj {
    display: none;
  }
  .container {
    flex-wrap: wrap;
  }
  .nav {
    display: none;
  }
  .ht {
    font-size: 32px;
  }
  .imk {
    width: 471px;
    height: 433px;
  }
  .sect1 {
    flex-wrap: wrap;
  }
  .cards1 {
    flex-wrap: wrap;
  }
  .cards {
    flex-wrap: wrap;
  }
  .casg {
    flex-wrap: wrap;
  }
}
